// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700%7CWork+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Open+Sans:wght@300&family=Source+Sans+Pro&family=Space+Mono&family=Yellowtail&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.banner h1 {
  font-family: 'Cinzel Decorative', cursive;
}

.game-title {

  h3 {
  font-family: 'Biryani', sans-serif;
  font-size: 20px;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      transition: 0.3s;
      opacity: 1;
      color: rgb(112, 109, 109);
    }
  }
}

.game-card-bottom {

  h5 {
    font-family: 'Biryani', sans-serif;
    font-size: 12px;
    opacity: 1;
    margin: 0;
  }
}

.card-infos h2 {
  font-family: 'Cinzel Decorative', cursive;
}

.name-desc h2, p {
  font-family: 'Cinzel Decorative', cursive;
}

.top-name h1 {
  font-family: 'Cinzel Decorative', cursive;
}

.user-new {
  font-family: 'Cinzel Decorative', cursive;
}

.button-container, button {
  font-family: 'Cinzel Decorative', cursive;
}

.boardgame-links a {
  font-family: 'Cinzel Decorative', cursive;
}

.btn {
  font-family: 'Cinzel Decorative', cursive;
}

.name h1 {
  font-family: 'Cinzel Decorative', cursive;
}

.nav-item {
  font-family: 'Cinzel Decorative', cursive;
}

form {
  font-family: 'Cinzel Decorative', cursive;

  h1 {
    font-family: 'Cinzel Decorative', cursive;
  }

}
.card-product h2 {
  font-family: 'Cinzel Decorative', cursive;
}

.container p {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  text-align: center;
}

.sign-up-text {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
}

.home-page-text h2 {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  // text-align: center;
  padding-top: 3%;
  font-size: 50px;
  padding-left: 20px;
}

.home-page-text p {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  // text-align: center;
  padding-top: 10px;
  padding-left: 45px;
}
