.top-name {
  text-align: center;
  color: white;
  margin-top: 20px;
}
.button-container{
  display: flex;
  justify-content: center;
  .button {
    display: flex;
    justify-content: space-between;
    width: 45vw;
  }
}

.form {
  border: 1px solid black;
  padding-inline: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: darkgrey;

}

.user-new {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
