.container {
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  align-items: center;
  border: 2px white;
  padding-bottom: 35px;
}


.name {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.card-product {
  overflow: hidden;
  height: 180px;
  background-color: #e1e1e1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  gap: 240px;
}

.card-product img {
  height: 100%;
  width: 20%;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.card-user-show {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
  width: auto;

  .card-header {
    background-color: #e7e7e7;
    p {
      font-family: 'Cinzel Decorative', cursive;
      font-size: 18px;
      margin-bottom: 0;
    }
  }

}

.card-user-show {

  .card-product-infos{
    display: flex;
    flex-direction: column;
    height: 128px;
    align-items: flex-start;


    h2 {
      padding-top: 15px;
      padding-bottom: 5px;
    }
    p {
      color: black;
      font-size: 13px;
      font-family: 'Biryani', sans-serif;
      margin-bottom: 0;
    }
    .stars-index {
      padding-left: 0;
    }
  }

  .bottom-rent {


    gap: 325px;


    .btn {
      display: flex;
      gap: 8px;
    }

    p {
      color: black;
      align-self: baseline;
      font-family: 'Biryani', sans-serif;
      margin: auto;
    }
  }
}
