.container {
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  align-items: center;
  border: 2px white;
}


.name {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-product img {
  height: 100%;
  width: 20%;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.btn_see_more{
  bottom: 5px;
  right: 15px;
  position: absolute;
}

.info {

  position: relative;
  // padding-left: 50px;

  h2 {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 10px;
    left: 180px;
  }
  p {
    position: absolute;
    font-size: 15px;
    line-height: 2.4;
    opacity: .7;
    color: black;
    top: 80px;
    left: 180px;
  }
}
