<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/anjaplemenitas" target="_blank" id="anja"><i class="fab fa-github"></i></a>
    <a href="https://github.com/Jehuty1989" target="_blank" id="alastair"><i class="fab fa-github"></i></a>
    <a href="https://github.com/alexhall48" target="_blank" id="alex"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-text">
   Games in the Dungeon
  </div>
</div>
