<div class="home-page-text" style="background-image: url(https://i.redd.it/e0deevjvqth71.jpg); height: 100vh; background-size: cover;">
  <h2><strong>Games in the Dungeon</strong></h2>
  <p>Rent, Buy or Create and join us to delve into the Dungeon of Games</p>
</div>
