.cards {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  padding: 16px;

  img {
    height: 300px;
    object-fit: contain;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    color: black;
  }

  .img-genre-rating {
    display: flex;
    flex-direction: column;
  }

  .card-infos {
    padding: 16px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .name-desc {
    padding-right: 10px;
    padding-left: 26px;
  }
}

.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.index-card {

  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.3);
  transition: 0.3s;
  max-height: 375px;
  min-height: 375px;
  border-radius: 5px;

  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
  }
}

.game-title {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.game-card-bottom {

  padding-left: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;


  .stars-index {
    padding-inline-start: 0;
  }
}

.checked {
  color: orange;
}
