<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/e0deevjvqth71.jpg); height: 60vh; background-size: cover;">
  <div class="container text-center col-6">
    <h1 style="color: white;">Games in the Dungeon</h1>
      <div class="input-group mt-3">
       <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
      </div>
  </div>
</div>

<div class="container mt-3">
  <div class="index-cards">
    <% @boardgames.each do |boardgame| %>
    <div class="card">
      <div class="img-genre-rating">
        <%= image_tag(boardgame.image_url) %>
      </div>
        <div class="card-infos">
          <h3><%= boardgame.name %></h3>
          <h2>Genre: <%= boardgame.genre %></h2>
          <h2>Rating: <%= boardgame.rating %></h2>
        </div>
    </div>
    <% end %>
  </div>
</div>
